streamlit
python-dotenv
pandas
numpy

openai
langchain
langchain-core
langchain-openai
langchain-community
langsmith

chromadb
sentence-transformers
transformers
torch

spacy
scikit-learn

pypdf
pdfplumber
pymupdf

requests

streamlit-drawable-canvas
langchain-chroma
chromadb